---
import ContactListItem from "$components/contact_list_item.astro";
import Layout from "$components/layouts/basic.astro";
import PostList from "$components/post_list.astro";
import ProjectsList from "$components/projects_list.astro";
import Section from "$components/section.astro";
import SectionText from "$components/section_text.astro";
import { SITE_DESCRIPTION, SOCIAL_LINKS } from "$consts";
---

<Layout description={SITE_DESCRIPTION}>
	<main>
		<Section>
			<p class="headline-title">Hey, I'm Magnetar.</p>
			<p class="headline-subtitle">
				I am designing & building apps, sites, and tools.
			</p>
		</Section>

		<Section title="About Me">
			<SectionText>
				I am a passionate programmer and interface designer motivated to
				problem-solve and refine user experiences through software. I am
				always trying to find new ways of engaging with problems and
				simplifying code to its most basic form without sacrifing
				performance. A good user experience can only come from a well
				thought out design and codebase.
			</SectionText>
		</Section>

		<Section title="Contact">
			<div role="list">
				{
					SOCIAL_LINKS.map((social) => (
						<ContactListItem
							label={social.label}
							detail={social.account}
							href={social.url}
							icon={social.icon}
						/>
					))
				}
			</div>
		</Section>

		<Section title="Recent Posts">
			<PostList maximum={3} />
		</Section>

		<Section title="Projects">
			<ProjectsList />
		</Section>
	</main>
</Layout>

<style is:global>
	.headline-title {
		font-size: 3rem;
		line-height: 3rem;
		margin-block-end: 0.5rem;
		font-weight: 700;
		color: var(--text-primary);
	}

	.headline-subtitle {
		font-size: 1.5rem;
		color: var(--text-secondary);
	}

	@media (width <= 768px) {
		.headline-title {
			font-size: 2rem;
			line-height: 2rem;
		}

		.headline-subtitle {
			font-size: 1.25rem;
			line-height: 1.75rem;
		}
	}
</style>
